/*
=========================================================
new client cascade style sheet file
=========================================================
*/
body {
    /*overflow:hidden;*/
}
header {
    /*padding: 10px;*/
    background: #ffffff;
    color: #1f1f1f;
    position: fixed;
    top: 0;
    width: 100%;
    height:80px;
    border-bottom: solid 20px #0064C9;
    /*border-bottom: solid 20px #4649bb;*/
    /*border-bottom: solid 20px #464964;*/
    text-align:center;
}
nav {
    background: #555;
    color: #f1f1f1;
    position: fixed;
    left: 0;
    top: 80px;
    height: calc(100% - 160px);
    width: 84px;
    padding: 5px;
    z-index:2;
    padding-top: 15px;
}
nav ul {
    border: 0px;
    margin: 0px;
    padding: 0px;
}
nav #nav_charts_tab {
    /*left: -20px;*/
    /*position: relative;*/
    /*width: 35px;*/
    /*list-style:none;*/
    /*border-top:1px solid gray;*/
    margin-top:4px;
}
article {
    position:fixed;
    left:80px;
    top:80px;
    height:calc(100% - 160px);
    width:calc(100% - 80px);
    overflow:auto;
    /*display: none;*/
}
footer {
    position:fixed;
    bottom:0px;
    width:100%;
    background:#f6f6f6;
    padding:10px;
    height:80px;
    z-index:3;
}
footer small {
    position: inherit;
    font-size: 71%;
    /*padding-left: 20px;*/
    /*display: inline-block;*/
    /*bottom: 0px;*/
    /*overflow: hidden;*/
    /*width: 460px;*/
    /*height: 80px;*/
}
footer .logo {
    height:52px;
    position:relative;
}
.logo {
    height: 60px;
    position: absolute;
    padding:10px;
    left: 0px;
}
#menu_wrapper {
    position:fixed;
    /*left:84px;*/
    /*top:80px;*/
    z-index:1;
    margin:5px;
    left: calc(50% - 330px);
    top: calc(50% - 220px);
}
#menu_navigator {
    padding:4px;
    background:white;
    margin:0px;
    border:1px solid gray;
    min-height:20px;
}
#menu_button_shrink:hover {
    background:lightgray;
}
#menu_button_shrink:active {
    background:gray;
}
#menu_button_shrink {
    font-size: 13px;
    margin: -1px;
    border: 1px solid gray;
    padding: 4px;
    height: 27px;
    padding-top: 3px;
}
#menu_query {
    /*position:fixed;*/
    /*left:100px;*/
    /*top:100px;*/
    padding:0px;
    /*min-width:700px;*/
    /*min-height:200px;*/
    /*max-height:500px;*/
    background:antiquewhite;
    margin:0px;
    border:1px solid gray;
}
.menu {
    border: 1px solid gray;
    background: white;
    min-width: 52px;
    min-height: 200px;
    margin: 0px;
    padding: 0px;
    display: table-cell;
}
.menu_title {
    text-align: center;
    color: #464964;
    color: #4649bb;
    font-weight: bold;
    /*min-width: 100px;*/
    background: gold;
    height: 30px;
    padding-left:5px;
    border: 1px solid lightgray;
    /*text-align:center;*/
}
.date, .time {
    font-size:12px;
    width:116px;
    display:block;
}
.menu_content {
    height:312px;
    overflow:auto;
    background:linen;
}
/*::-webkit-scrollbar {*/
/*    display:none;*/
/*}*/
.menu_content_column:hover {
    background:moccasin;
}
.menu_content_column:active {
    background:peachpuff;
}
.menu_content_column {
    /*min-width: 100px;*/
    background: seashell;
    min-height: 30px;
    border: 1px solid lightgray;
    padding:5px;
    /*text-align:center;*/
}
.label {
    font-size:13px;
    margin:0px;
}
.checkbox {
    height: 18px;
    /*width: 20px;*/
    position: relative;
    top: 4px;
}
.writable_label {
    width: 70px;
    height:20px;
}
#menu_term { min-width: 147px; }
#menu_sens { min-width: 139px; }
#menu_data { min-width: 134px; }
#menu_sort { min-width: 140px; }
#menu_valu { min-width: 100px; }
#menu_char { min-width: 87px; }
#menu_view { min-width: 71px; }
.display {
    
}
.displaynone {
    display:none !important;
}
#menu_navigator {
    display:flex;
}
#menu_button_show {
    float:right;
    position: absolute;
    right: 0px;
    top: 0px;
}
#menu_sens_content {
    min-width:137px;
}
.wrap_checkbox {
    display:block;
}
label {
    margin: 0px;
}
.fill_parent {
    height:100%;
    width:100%;
}
#haeder_language_select {
    display:inline-block;
    position:inherit;
    right:0px;
    padding:10px;
    font-size:12px;
}
#i18n_menu_navigator_button_create:hover {
    background:lightgray;
}
#i18n_menu_navigator_button_create:active {
    background:gray;
}
#i18n_menu_navigator_button_create {
    width: 50px;
    height:27px;
    padding: 5px;
    margin:4px;
    text-align: center;
    border:1px solid gray;
    padding-top: 3px;
}
#nav_charts_tab .label:hover{
    background:gray;
}
#nav_charts_tab .label:active{
    background:#222 !important;
}
#nav_charts_tab .label{
    display: block;
    overflow:hidden;
    /*width:74px;*/
    white-space:nowrap;
    padding: 3px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    text-align:center;
}
#i18n_nav_title_chart {
    border-top: 1px solid gray;
}
#nav_charts_tab .chart_tab {
    text-align:left;
    height:26px;
    /*text-overflow:ellipsis;*/
    /*border-top: 1px;*/
}
#nav_charts_tab .chart_tab:hover {
    width:150px;
    height:26px;
    /*text-overflow:ellipsis;*/
    /*white-space:nowrap;*/
    overflow:visible;
    padding: 3px;
}
#menu_chart_name {
    float: right;
    position: absolute;
    right: 50px;
    width: 95px;
    display:none;
}

g .nv-focus, g .nv-focusWrap .nvd3-svg{
    border:1px solid lightgray !important;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisSteelBlue text{
  fill: steelblue;
}

.axisRed text{
  fill: red;
}
  
.axisPurple text {
  fill: purple;
}

.chart_emt{
    overflow:auto;
    height: calc(100%);
    width: calc(100% - 0px);
    top: 30px;
    background:linen;
    background:oldlace;
    background:ghostwhite;
    background:seashell;
    background:whitesmoke;
    background:snow;
    background:snow;
}

.chart_smt {
    height: calc(100% - 150px);
    width: calc(100% - 0px);
    background:whitesmoke;
}

.chart_emt_title {
    background:linen;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    padding: 24px;
    padding-bottom:2px;
}

.chart_smt_title {
    background: oldlace;
    display: block;
    font-size: x-large;
    font-weight: bold;
    padding-left: 24px;
    padding-top: 14px;
    padding-bottom: 10px;
}
.menu_title:hover{
    background:khaki;
}
.menu_title:active{
    background:goldenrod !important;
}
.label_search_bar{
    position: relative;
    bottom: 82px;
    left: 25px;
    font-size: 12px;
    color: #464964;
    width: 50px;
}
#i18n_nav_legend{
    display: inline-block;
    position: absolute;
    bottom: 5px;
    border-top: 1px solid gray;
    width: calc(100% - 10px);
    bottom: 20px;
}
#menu_legend{
    position: fixed;
    left: 84px;
    bottom: 80px;
    z-index: 10000;
    margin: 5px;
    background: white;
    border:1px solid gray;
    padding:10px;
    bottom: 95px;
}
.dataDescription{
    width:100%;
    background: #fafbfc;
    color: #000000;
}
.dataDescription p{
    display: inline;
    padding: 3px;
}
.dd_bigger{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}

  #menu_term_title
, #menu_sens_title
, #menu_data_title
, #menu_valu_title
, #menu_sort_title
, #menu_char_title
{
    
}

  #i18n_menu_term_title_term
, #i18n_menu_sens_title_sens
, #i18n_menu_data_title_data
, #i18n_menu_valu_title_valu
, #i18n_menu_sort_title_sort
, #i18n_menu_char_title_char
{
  
}

#menu_data_checkbox_all {
    left:-22px;
}
#menu_sens_checkbox_all {
    left:-26px;
}
#i18n_menu_data_title_data {
    left: -8px;
    position: relative;
}
#i18n_menu_sensor_title_sensor {
    left: -10px;
    position: relative;
}
#i18n_document_title {
    font-size: 22px;
    font-weight: bold;
    color: #464964;
    /* color: #4649bb; */
    /* width: 467px; */
    display: inline-flex;
    text-align: center;
    position: relative;
    top: 12px;
}
#i18n_document_title > p {
    color:#FF7F00;
}