<!doctype html>
<!--
=========================================================
client html file 
=========================================================
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Nexturecom Smart IoT Dash Board</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="msapplication-tap-highlight" content="no">
    	<link href="/nv.d3.css" rel="stylesheet" type="text/css"/>
    	<link href="/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    	<link href="/client.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <img id="header_logo" src="/logo.png" class="logo"></img>
            <label id="i18n_document_title">Smart&nbsp;<p>I</p>o<p>T</p>&nbsp;Dash&nbsp;Board</label>
            <div id="haeder_language_select" style="display:none">
                <label id="i18n_language_global_korean" ></label>&nbsp;/&nbsp;<label id="i18n_language_global_english" ></label>
            </div>
        </header>
        <nav id="main_nav" style="width: 84px;">
            <div id="nav_charts_tab" class="chart_tab">
                <label class="label" id="i18n_nav_title_chart"><div></div></label>
                <label id="nav_realtime_toggle_wrapper" class="label" for="nav_checkbox_realtime_toggle" >
                    <div id="nav_realtime_toggle_div" class="">
                        <input id="nav_checkbox_realtime_toggle" type="checkbox" class="checkbox" onchange='udf_realtime_toggle(this)'></input>
                        <label class="" id="i18n_nav_realtime_toggle_label" for="nav_checkbox_realtime_toggle"></label>
                    </div>
                </label>
                <label class="label" id="i18n_nav_size_toggle"></label>
                
                <label id="i18n_nav_show_all" class="label" onclick="udf_show_all()"></label>
                <label id="i18n_nav_delete_all" class="label" onclick="udf_delete_all()"></label>
                <label id="i18n_nav_legend" class="label"></label>
            </div>
        </nav>
        <div id="menu_legend" style="display:none">
            <div class="dataDescription dd_bigger">단위</div>
            <div class="dataDescription">온도 : ℃</div>
            <div class="dataDescription">습도 : ％</div>
            <div class="dataDescription">기압 : hPa</div>
            <div class="dataDescription">조도 : lx</div>
            <div class="dataDescription">공기질(VOC) ㎍/㎡ : 
                <p style="color:#000000; background-color:#00ff00;">0-50:좋음</p>,&nbsp;
                <p style="color:#000000; background-color:#ffff00;">51~100:보통</p>,&nbsp;
                <p style="color:#000000; background-color:#ff6000;">101~150:약간 나쁨</p>,&nbsp;
                <p style="color:#ffff00; background-color:#ff0000;">151~200:나쁨</p>,&nbsp;
                <p style="color:#ffffff; background-color:#a000ff;">201~300:많이 나쁨</p>,&nbsp;
                <p style="color:#ffffff; background-color:#000000;">301~500:최악</p></div>
            <div class="dataDescription">실내 공기 질 : 0, 1, 2, 3</div>
            <div class="dataDescription">진동 : 0(정지), 4(진동)</div>
            <div class="dataDescription">자력 : 0(접근), 2(이탈)</div>
        </div>
        <div id="menu_wrapper">
            <div id="menu_navigator">
                <div id="menu_button_shrink" class="label display"></div>
                <input id="menu_chart_name" class="writable_label" placeholder="chart_name" value="chart_name">
                <div id="menu_button_show">
                    <label class="label display" id="i18n_menu_navigator_button_create"></label>
                    <label class="label displaynone" id="i18n_menu_navigator_button_modify"></label>
                </div>
            </div>
            <div id="menu_query">
                <div id="menu_term" class="menu">
                    <div id="menu_term_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_term_title_term" for="menu_term_checkbox_all"></label>
                    </div>
                    <div id="menu_term_content" class="menu_content">
                        <div class="menu_content_column">
                            <label class="label display" id="i18n_menu_term_content_label_begin_date" for="menu_term_checkbox_begin"></label><br>
                            <input id="menu_term_content_date_start" type="date" name="date_start" class="date"/>
                            <input id="menu_term_content_time_start" type="time" name="time_start" class="time"/>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display" id="i18n_menu_term_content_label_end_date" for="menu_term_checkbox_end"></label><br>
                            <input id="menu_term_content_date_end" type="date" name="date_end" class="date"/>
                            <input id="menu_term_content_time_end" type="time" name="time_end" class="time"/>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_day"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_week"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_month"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_year"></label>
                        </div>
                    </div>
                </div>
                <div id="menu_sens" class="menu">
                    <label class="label wrap_checkbox" for="menu_sens_checkbox_all">
                        <div id="menu_sens_title" class="menu_title">
                            <input id="menu_sens_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_menu_sensor_title_sensor" for="menu_sens_checkbox_all"></label>
                        </div>
                    </label>
                    <div id="menu_sens_content" class="menu_content">
                    </div>
                </div>
                <div id="menu_data" class="menu">
                    <label class="label wrap_checkbox" for="menu_data_checkbox_all">
                        <div id="menu_data_title" class="menu_title">
                            <input id="menu_data_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_menu_data_title_data" for="menu_data_checkbox_all"></label>
                        </div>
                    </label>
                    <div id="menu_data_content" class="menu_content">
                    </div>
                </div>
                <div id="menu_valu" class="menu">
                    <div id="menu_valu_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_valu_title_value"></label>
                    </div>
                    <div id="menu_valu_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_valu_checkbox_value">
                            <div class="menu_content_column">
                                <input name="menu_valu_radiobutton" id="menu_valu_checkbox_value" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_valu_checkbox_value" id="i18n_menu_valu_content_value"></label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_sort" class="menu">
                    <div id="menu_sort_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_sort_title_sort"></label>
                    </div>
                    <div id="menu_sort_content" class="menu_content">
                    </div>
                </div>
                <div id="menu_char" class="menu">
                    <div id="menu_char_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_char_title_chart"></label>
                    </div>
                    <div id="menu_char_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_char_checkbox_line">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_line" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_char_checkbox_line" id="i18n_menu_char_content_line"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox displaynone" for="menu_char_checkbox_stick">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_stick" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_stick" id="i18n_menu_char_content_stick"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox displaynone" for="menu_char_checkbox_dot">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_dot" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_dot" id="i18n_menu_char_content_dot"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox displaynone" for="menu_char_checkbox_circle">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_circle" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_circle" id="i18n_menu_char_content_circle"></label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <article id="chart_root">
        </article>
        <aside>
        </aside>
        <footer>
            <img class="logo" src="/logo_footer.png"></img>
            <small>
                <label id="i18n_footer_1"></label>
                <br>
                <label id="i18n_footer_2"></label>
                <br>
                <label id="i18n_footer_3"></label>
            </small>
        </footer>
        <script src="client.js"></script>
        <!-- will moved from client.js after test for web cache -->
    </body>
</html>