<!doctype html>
<!--
=========================================================
client html file 
=========================================================
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Nexturecom charts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="Huge selection of charts created with the React ChartJS Plugin">
        <meta name="msapplication-tap-highlight" content="no">
        <!--
        =========================================================
        * Nexturecom IoT Dashboard - v1.0.0
        =========================================================
        * Product Page: https://dashboardpack.com
        * Copyright 2019 DashboardPack (https://dashboardpack.com)
        * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
        =========================================================
        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
    	<link href="/nv.d3.css" rel="stylesheet" type="text/css"/>
    	<link href="/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    	<link href="/client.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <img id="header_logo" src="/logo.png" class="logo"></img>
            <div id="haeder_language_select">
                <label id="i18n_language_global_korean" ></label>&nbsp;/&nbsp;<label id="i18n_language_global_english" ></label>
            </div>
        </header>
        <nav>
            <label class="label display" id="i18n_nav_title_chart"></label>
            <div id="nav_charts_tab" class="chart_tab"></div>
        </nav>
        <div id="menu_wrapper">
            <div id="menu_navigator">
                <div id="menu_button_shrink"><<</div>
                <div id="menu_button_show">
                    <label class="label display" id="i18n_menu_navigator_button_create"></label>
                    <label class="label displaynone" id="i18n_menu_navigator_button_modify"></label>
                </div>
            </div>
            <div id="menu_query">
                <div id="menu_term" class="menu">
                    <div id="menu_term_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_term_title_term" for="menu_term_checkbox_all"></label>
                    </div>
                    <div id="menu_term_content" class="menu_content">
                        <div class="menu_content_column">
                            <label class="label display" id="i18n_menu_term_content_label_begin_date" for="menu_term_checkbox_begin"></label><br>
                            <input id="menu_term_content_date_start" type="date" name="date_start" class="date"/>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display" id="i18n_menu_term_content_label_end_date" for="menu_term_checkbox_end"></label><br>
                            <input id="menu_term_content_date_end" type="date" name="date_end" class="date"/>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_day"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_week"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_month"></label>
                        </div>
                        <div class="menu_content_column">
                            <label class="label display fill_parent" id="i18n_menu_term_content_label_preset_year"></label>
                        </div>
                    </div>
                </div>
                <div id="menu_sens" class="menu">
                    <label class="label wrap_checkbox" for="menu_sens_checkbox_all">
                        <div id="menu_sens_title" class="menu_title">
                            <input id="menu_sens_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_menu_sensor_title_sensor" for="menu_sens_checkbox_all"></label>
                        </div>
                    </label>
                    <div id="menu_sens_content" class="menu_content">
                    </div>
                </div>
                <div id="menu_data" class="menu">
                    <label class="label wrap_checkbox" for="menu_data_checkbox_all">
                        <div id="menu_data_title" class="menu_title">
                            <input id="menu_data_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_menu_data_title_data" for="menu_data_checkbox_all"></label>
                        </div>
                    </label>
                    <div id="menu_data_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_data_checkbox_temperature">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_temperature" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_temperature" id="i18n_menu_data_content_temperature"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_humidity">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_humidity" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_humidity" id="i18n_menu_data_content_humidity"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_atmospheric_pressure">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_atmospheric_pressure" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_atmospheric_pressure" id="i18n_menu_data_content_atmospheric_pressure"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_ambient_light">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_ambient_light" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_ambient_light" id="i18n_menu_data_content_ambient_light"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_air_quality">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_air_quality" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_air_quality" id="i18n_menu_data_content_air_quality"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_indoor_air_quality">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_indoor_air_quality" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_indoor_air_quality" id="i18n_menu_data_content_indoor_air_quality"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_movement">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_movement" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_movement" id="i18n_menu_data_content_movement"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_hall">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_hall" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_hall" id="i18n_menu_data_content_hall"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_battery_level">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_battery_level" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_battery_level" id="i18n_menu_data_content_battery_level"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_sensor_node_id">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_sensor_node_id" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_sensor_node_id" id="i18n_menu_data_content_sensor_node_id"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_gateway_id">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_gateway_id" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_gateway_id" id="i18n_menu_data_content_gateway_id"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_node_status">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_node_status" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_node_status" id="i18n_menu_data_content_node_status"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_node_role">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_node_role" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_node_role" id="i18n_menu_data_content_node_role"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_object">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_object" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_object" id="i18n_menu_data_content_object"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_source_address">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_source_address" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_source_address" id="i18n_menu_data_content_source_address"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_user">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_user" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_user" id="i18n_menu_data_content_user"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_timestamp">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_timestamp" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_timestamp" id="i18n_menu_data_content_timestamp"></label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_valu" class="menu">
                    <div id="menu_valu_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_valu_title_value"></label>
                    </div>
                    <div id="menu_valu_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_valu_checkbox_value">
                            <div class="menu_content_column">
                                <input name="menu_valu_radiobutton" id="menu_valu_checkbox_value" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_valu_checkbox_value" id="i18n_menu_valu_content_value"></label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_sort" class="menu">
                    <div id="menu_sort_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_sort_title_sort"></label>
                    </div>
                    <div id="menu_sort_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_sort_checkbox_sensor">
                            <div class="menu_content_column">
                                <input name="menu_sort_radiobutton" id="menu_sort_checkbox_sensor" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_sort_checkbox_sensor" id="i18n_menu_sort_content_sensor"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_sort_checkbox_data">
                            <div class="menu_content_column">
                                <input name="menu_sort_radiobutton" id="menu_sort_checkbox_data" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_sort_checkbox_data" id="i18n_menu_sort_content_data"></label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_char" class="menu">
                    <div id="menu_char_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_char_title_chart"></label>
                    </div>
                    <div id="menu_char_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_char_checkbox_line">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_line" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_char_checkbox_line" id="i18n_menu_char_content_line"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_stick">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_stick" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_stick" id="i18n_menu_char_content_stick"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_dot">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_dot" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_dot" id="i18n_menu_char_content_dot"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_circle">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_circle" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_circle" id="i18n_menu_char_content_circle"></label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_view" class="menu">
                    <div id="menu_view_title" class="menu_title">
                        <label class="label label_name" id="i18n_menu_view_title_integrate"></label>
                    </div>
                    <div id="menu_view_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_view_checkbox_partition">
                            <div class="menu_content_column">
                                <input name="menu_view_radiobutton" id="menu_view_checkbox_partition" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_view_checkbox_partition" id="i18n_menu_content_partition"></label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_view_checkbox_integrate">
                            <div class="menu_content_column">
                                <input name="menu_view_radiobutton" id="menu_view_checkbox_integrate" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_view_checkbox_integrate" id="i18n_menu_content_integrate"></label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <article>
        </article>
        <aside>
        </aside>
        <footer>
            <img class="logo" src="/logo_footer.png"></img>
            <small>
                <label id="i18n_footer_1"></label>
                <br>
                <label id="i18n_footer_2"></label>
                <br>
                <label id="i18n_footer_3"></label>
            </small>
        </footer>
        <script src="/client.js"></script>
        <!-- will moved from client.js after test for web cache -->
    </body>
</html>