<!doctype html>
<!--
=========================================================
client html file 
=========================================================
-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Language" content="en">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Nexturecom charts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
        <meta name="description" content="Huge selection of charts created with the React ChartJS Plugin">
        <meta name="msapplication-tap-highlight" content="no">
        <!--
        =========================================================
        * Nexturecom IoT Dashboard - v1.0.0
        =========================================================
        * Product Page: https://dashboardpack.com
        * Copyright 2019 DashboardPack (https://dashboardpack.com)
        * Licensed under MIT (https://github.com/DashboardPack/architectui-html-theme-free/blob/master/LICENSE)
        =========================================================
        * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
        -->
    	<link href="/nv.d3.css" rel="stylesheet" type="text/css"/>
    	<link href="/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    	<link href="/client.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header>
            <img src="/logo.png" class="logo"></img>
        </header>
        <nav>
            <ul><label class="label display" id="i18n_add_chart">차트</label>
            </ul>
            <ul>
                <li></li>
            </ul>
        </nav>
        <div id="menu_wrapper">
            <div id="menu_navigator">
                <div id="menu_button_shrink"><<</div>
                <div id="menu_button_show">
                    <label class="label display" id="i18n_">추가</label>
                    <label class="label displaynone" id="i18n_">수정</label>
                </div>
            </div>
            <div id="menu_query">
                <div id="menu_term" class="menu">
                    <label class="label wrap_checkbox" for="menu_term_checkbox_all">
                        <div id="menu_term_title" class="menu_title">
                            <input id="menu_term_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_" for="menu_term_checkbox_all">기간</label>
                        </div>
                    </label>
                    <div id="menu_term_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_term_checkbox_begin">
                            <div class="menu_content_column">
                                <input id="menu_term_checkbox_begin" type="checkbox" class="checkbox"></input> 첫 일자 제한<br>
                                <input type="date" name="date_start" class="date"/>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_term_checkbox_end">
                            <div class="menu_content_column">
                                <input id="menu_term_checkbox_end" type="checkbox" class="checkbox"></input> 끝 일자 제한<br>
                                <input type="date" name="date_end" class="date"/>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_sens" class="menu">
                    <label class="label wrap_checkbox" for="menu_sens_checkbox_all">
                        <div id="menu_sens_title" class="menu_title">
                            <input id="menu_sens_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_" for="menu_sens_checkbox_all">센서</label>
                        </div>
                    </label>
                    <div id="menu_sens_content" class="menu_content">
                    </div>
                </div>
                <div id="menu_data" class="menu">
                    <label class="label wrap_checkbox" for="menu_data_checkbox_all">
                        <div id="menu_data_title" class="menu_title">
                            <input id="menu_data_checkbox_all" type="checkbox" class="checkbox"></input>
                            <label class="label label_name" id="i18n_" for="menu_data_checkbox_all">데이터</label>
                        </div>
                    </label>
                    <div id="menu_data_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_data_checkbox_1">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_1" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_1" id="i18n_">온도</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_2">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_2" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_2" id="i18n_">습도</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_3">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_3" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_3" id="i18n_">기압</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_4">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_4" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_4" id="i18n_">조도</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_5">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_5" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_5" id="i18n_">공기질</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_6">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_6" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_6" id="i18n_">실내공기질</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_7">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_7" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_7" id="i18n_">진동</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_8">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_8" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_8" id="i18n_">자력</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_9">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_9" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_9" id="i18n_">전원</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_10">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_10" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_10" id="i18n_">센서노드ID</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_11">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_11" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_11" id="i18n_">게이트웨이ID</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_12">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_12" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_12" id="i18n_">노드상태</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_13">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_13" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_13" id="i18n_">노드역할</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_data_checkbox_14">
                            <div class="menu_content_column">
                                <input id="menu_data_checkbox_14" type="checkbox" class="checkbox"></input>
                                <label class="label label_name" for="menu_data_checkbox_14" id="i18n_">객체</label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_sort" class="menu">
                    <div id="menu_sort_title" class="menu_title">
                        <label class="label label_name" id="i18n_">기준</label>
                    </div>
                    <div id="menu_sort_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_sort_checkbox_1">
                            <div class="menu_content_column">
                                <input name="menu_sort_radiobutton" id="menu_sort_checkbox_1" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_sort_checkbox_1" id="i18n_">센서</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_sort_checkbox_2">
                            <div class="menu_content_column">
                                <input name="menu_sort_radiobutton" id="menu_sort_checkbox_2" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_sort_checkbox_2" id="i18n_">데이터</label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_valu" class="menu">
                    <div id="menu_valu_title" class="menu_title">
                        <label class="label label_name" id="i18n_">값</label>
                    </div>
                    <div id="menu_valu_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_valu_checkbox_1">
                            <div class="menu_content_column">
                                <input name="menu_valu_radiobutton" id="menu_valu_checkbox_1" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_valu_checkbox_1" id="i18n_">값</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_valu_checkbox_2">
                            <div class="menu_content_column">
                                <input name="menu_valu_radiobutton" id="menu_valu_checkbox_2" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_valu_checkbox_2" id="i18n_">평균</label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_char" class="menu">
                    <div id="menu_char_title" class="menu_title">
                        <label class="label label_name" id="i18n_">차트</label>
                    </div>
                    <div id="menu_char_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_char_checkbox_1">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_1" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_char_checkbox_1" id="i18n_">꺾은선</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_2">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_2" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_2" id="i18n_">막대</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_3">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_3" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_3" id="i18n_">점</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_char_checkbox_4">
                            <div class="menu_content_column">
                                <input name="menu_char_radiobutton" id="menu_char_checkbox_4" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_char_checkbox_4" id="i18n_">원</label>
                            </div>
                        </label>
                    </div>
                </div>
                <div id="menu_view" class="menu">
                    <div id="menu_view_title" class="menu_title">
                        <label class="label label_name" id="i18n_">통합</label>
                    </div>
                    <div id="menu_view_content" class="menu_content">
                        <label class="label wrap_checkbox" for="menu_view_checkbox_1">
                            <div class="menu_content_column">
                                <input name="menu_view_radiobutton" id="menu_view_checkbox_1" type="radio" class="checkbox" checked></input>
                                <label class="label label_name" for="menu_view_checkbox_1" id="i18n_">분리</label>
                            </div>
                        </label>
                        <label class="label wrap_checkbox" for="menu_view_checkbox_2">
                            <div class="menu_content_column">
                                <input name="menu_view_radiobutton" id="menu_view_checkbox_2" type="radio" class="checkbox"></input>
                                <label class="label label_name" for="menu_view_checkbox_2" id="i18n_">통합</label>
                            </div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <article>
            <!--<h1>콘텐츠 제목 </h1>-->
            <!--<p> 콘텐츠 내용 </p>-->
        </article>
        <!--<aside>-->
        <!--    <section>-->
        <!--        <h1>제목</h1>-->
        <!--        <blockquote>내용</blockquote>-->
        <!--    </section>-->
        <!--</aside>-->
        <footer>
            <img class="logo" src="/logo.png"></img>
            <small>
                경기도 성남시 수정구 창업로 42 판교제2테크노밸리 경기기업성장센터 633호 (우)13449
                <br>
                (주)넥스쳐컴 
                <br>
                전화번호 : 031-757-1385, 팩스 : 031-622-9809, 이메일 : support@nexturecom.com
            </small>
        </footer>
        <script src="/client.js"></script>
    </body>
</html>